<div class="container px-5 px-sm-0">
  <div class="row">
    <div class="col-md-3">

           <%= render 'books/info', book: @book, user: @user %>

    </div>

    <div class="col-md-8 offset-md-1" >
      <h2>Book detail</h2>
      <table class="table table-hover">
         <tbody>
            <tr>
            <td><%= attachment_image_tag @user, :profile_image, :fill, 40, 40,format: 'jpeg', fallback: "no_image.jpg",size:"40x40"%>
            <br><%= link_to user_path(@book.user.id), method: :get do %>
              <% @book.user.name %>
              <% end %>
            </td>
            <td>
              <%= link_to book_path(@book.id), method: :get do %>
              <%= @book.title %>
              <% end %>
            </td>
            <td><%= @book.body %></td>
              <% if @book.user_id == current_user.id %>
              <td><%= link_to "Edit", edit_book_path(@book.id),class: "btn btn-success" %></td>
              <td><%= link_to "Destroy", book_path(@book.id), class: "btn btn-danger",method: :delete, data: {confirm: "Are you sure？"} %></td>
              <% end %>
            </tr>
         </tbody>
      </table>
    </div>

  </div>
</div>